* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  background-image: url('../public/images/wh-bg.png');
  overflow-x: hidden;
}
.container {
  /* max-width: 1240px; */
  margin: 0 auto;
  /* padding: 0 24px; */
}
h1 {
  margin-top: 100px;
  text-align: center;
}
h3 {
  margin-top: 60px;
  margin-left: 30px;
}
.LoginForm {
  width: 500px;
  margin: 50px auto;
}
.loginFormDiv {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
label {
  font-weight: bold;
}
input {
  height: 40px;
  margin-top: 5px;
  padding: 3px 20px;
  border-radius: 10px;
  border: 3px solid lightgray;
}
input:focus {
  border: 2px solid gray;
  outline: none;
}
::placeholder {
  opacity: 70%;
}
span {
  color: red;
  font-size: small;
}
.loginFormButton {
  margin: 20px auto;
  display: block;
  padding: 3px;
  font-weight: bold;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid lightgray;
  cursor: pointer;
}
.header {
  background-color: rgb(247, 247, 247);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 3;
}
.headerLeftSideIcons {
  display: flex;
  gap: 20px;
}
.back-arrow-img {
  background-color: transparent;
  cursor: pointer;
}
/* .usernameInHeader {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
} */
.chat-icon-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  color: gray;
  font-weight: bold;
  text-align: center;
  /* Position the tooltip */
  position: absolute;
  margin-top: -10px;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.chat-icon-img {
  background-color: transparent;
  border: none;
}
.chat-icon-img .ok-icon {
  width: 24px;
  height: 24px;
}
.phoneForm {
  width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phoneNumberInput {
  height: 30px;
  width: 150px;
  margin-top: 0px;
}
.phoneNumber {
  font-size: 25px;
  font-weight: 700;
}
.main {
  /* background: #c4f9c3; */
  width: 100vw;
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
}
.sidebar {
  background: white;
  width: 20%;
  height: calc(100vh - 100px);
  /* z-index: -1; */
}
.contact {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  /* width:fit-content; */
  border-block-end: 2px solid gainsboro; 
  writing-mode: horizontal-tb;
  cursor: pointer;
}
.messages {
  position: absolute;
  bottom: 100px;
  left: 20%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  width: 80%;
   z-index: -1;
}
.outMessage {
  background: #c4f9c3;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 0;
}
.inputMessage {
  background: white;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: auto;
}
.footer {
  background: rgb(247, 247, 247);
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.MessageForm {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.messageInput {
  width: 70vw;
  background: white;
  margin-top: 0px;
}